<html>
<title>
    EMOTIENT
</title>
<link rel="shortcut icon" type="image/jpg" href="static/logo.JPG" />

<head>
    <link rel="stylesheet" href="static/home.css">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body style="height: 88.5em;">
    <div id="container">
        <img src="static/logo.JPG" id="logo">
        <a href="/" class="btn">HOME</a>
        <a href="live" class="btn">LIVE-FEED</a>
        <a href="upload" class="btn">UPLOAD PICTURE</a>
        <a href="video" class="btn">VIDEO</a>
        <a href="aboutproj" class="btn">ABOUT PROJECT</a>
        <a href="https://app.box.com/s/n4n6ibtnvla3vcaei26x9olkl0w54ndm" target="_blank" class="btn">RESEARCH
            PAPER</a>
        <a href="aboutus" style="background-color: rgba(193, 150, 221, 0.658);" class="btn">ABOUT US</a>
    </div>
    <div style="margin:1em;">
        <image src="static/Abhishek.jpg" alt="ABHISHEK BHALOTIA" id="profile"></image>
        <span id="info">
            <br>
            <h2 style="margin: 0em; letter-spacing: 0.13em;"><u>ABHISHEK BHALOTIA</u></h2>
            <br>
            PHONE:- <a href="tel:+918797376633"
                style="text-decoration:none; color:rgb(10,10,10);letter-spacing: 0.1em;">+918797376633</a>
            <br>
            EMAIL:- <a href="mailto:abhishekbhalotia98@gmail.com"
                style="text-decoration:none; color:rgb(10,10,10);letter-spacing: 0.1em;">abhishekbhalotia98@gmail.com</a>
            <br>
            <a href="https://in.linkedin.com/in/abhibhalo" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://github.com/AbhiBhalo" target="_blank" class="fa fa-github"></a>
        </span>
        <br>
        <span id="info" style="margin-left:20em;">
            <br>
            <h2 style="margin: 0em; letter-spacing: 0.13em;"><u>ADITYA RAJNEESH SINGH</u></h2>
            <br>
            PHONE:- <a href="tel:+919663166275"
                style="text-decoration:none; color:rgb(10,10,10); letter-spacing: 0.1em;">+919663166275</a>
            <br>
            EMAIL:- <a href="mailto:adityarsingh17@gmail.com"
                style="text-decoration:none; color:rgb(10,10,10); letter-spacing: 0.1em;">asaditya140@gmail.com</a>
            <br>
            <a href="https://in.linkedin.com/in/adityarajneeshsingh" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://github.com/AdityaSingh17" target="_blank" class="fa fa-github"></a>
        </span>
        <image src="static/Aditya.jpg" alt="ADITYA RAJNEESH SINGH" id="profile" style="margin-left: 63em;"></image>
        <br>
        <image src="static/Naman.jpeg" alt="NAMAN SAXENA" id="profile"></image>
        <span id="info">
            <br>
            <h2 style="margin: 0em; letter-spacing: 0.13em;"><u>NAMAN SAXENA</u></h2>
            <br>
            PHONE:- <a href="tel:+919535054026"
                style="text-decoration:none; color:rgb(10,10,10); letter-spacing: 0.1em;">+919535054026</a>
            <br>
            EMAIL:- <a href="mailto:ns.namansaxena@gmail.com"
                style="text-decoration:none; color:rgb(10,10,10); letter-spacing: 0.1em;">ns.namansaxena@gmail.com</a>
            <br>
            <a href="https://www.linkedin.com/in/namansaxena99" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://github.com/namansaxena99" target="_blank" class="fa fa-github"></a>
        </span>
        <br>
    </div>
</body>

</html>