<html>
    <title>
        EMOTINET
    </title>
    <link rel="shortcut icon" type="image/jpg" href="static/logo.JPG" />
    <head>
        <link rel="stylesheet" href="static/home.css">
    </head>
    <body style="height: 78em;">
        <div id="container">
            <img src="static/logo.JPG" id="logo">
            <a href="/" class="btn">HOME</a>
            <a href="live" class="btn">LIVE-FEED</a>
            <a href="upload" class="btn">UPLOAD PICTURE</a>
            <a href="video" class="btn">VIDEO</a>
            <a href="aboutproj" style="background-color: rgba(193, 150, 221, 0.658);" class="btn">ABOUT PROJECT</a>
            <a href="https://app.box.com/s/n4n6ibtnvla3vcaei26x9olkl0w54ndm" target="_blank" class="btn">RESEARCH PAPER</a>
            <a href="aboutus" class="btn">ABOUT US</a>
        </div>
        <div style="color: rgb(10,10,10);">
            <h1 style="margin: 1.5em; letter-spacing: 0.13em; font-family: 'Times New Roman';"><u>INTRODUCTION</u>:</h1>
            <p style="margin-top: -1em;">
                Human faces provide facial information as a clue to better understand the current state of user’s
                mind. Affective computing deals with machines and emotions. Emotion recognition is very
                essential to develop effective Human-Computer Interaction. Human emotions are recognized by
                various non-verbal cues like facial expressions, gestures, body posture or speech. Among them
                facial expressions is easy to obtain. Facial expressions can be used to obtain 7 categories
                ofexpressions like neutral, happiness, surprise, disgust, fear, anger and surprise. Recognition and
                extracting various emotions and then validating those emotions from the facial expressions has
                become important for improving the overall human computer interaction.
            </p>
            <p>
                In the past decade, facial expression classification and recognition has been a widely researched
                topic. Facial expression analysis has a wide range of applications such as socially intelligent
                robot with emotional intelligence, assistance systems for autistic people, emotion detection
                system used by the disabled to assist a caretaker, pain or stress detection systems for
                psychological studies, intelligent tutoring system for providing feedback to the instructors,
                portable, mobile application to automatically insert emotionsin chat applications etc. Considering
                these applications, it is evident that the facial expression detection systems would be ineffective
                unless they are made to work in real-time. As expression recognition systems become
                implementable in real-time with enhanced robustness, many other innovative applications would
                emerge from it.
            </p>
            <p>
                A facial expression recognition system generally consists of three major steps and involves the
                process of acquiring the images, processing the images, detection of faces then extracting the
                expression feature. First step is to identify theface region from the acquired image and then preprocessed
                so as to minimize the environmental and other variations in the image. The next step is
                to extract expression features which are then classified in the third step. The classifier provides
                the output of the expression which is recognized.
            </p>
            <br>
            <h1 style="margin: 1.5em; letter-spacing: 0.13em;"><u>BRIEF HISTORY OF FACIAL EXPRESSION RECOGNITION</u>:</h1>
            <p style="margin-top: -1em;">
                Facial expression is an important form of emotional state and mental state. Psychologist
                Mehrabian's research shows that only 7% of the total information is passed by language, and
                38% is transported by language auxiliary, such as the rhythm of speech, tone, etc. But the
                Ratio of information which passed by facial expression has reached 55% of the total.
                Therefore, a lot of valuable information can get by facial expression recognition that gives
                an effective way to the perceive person's consciousness and mental activity. Because of this,
                facial expression recognition, showing important theoretical research value, practical value
                and the life application value, has become an important research topic. Facial expression
                recognition researches date back to the 19th century.
            </p>
            <p>
                In 1872, Darwin firstly announced the consistency of expression .In his opinion the meaning
                of facial expressing was not judged by gender and race. In the 1970s, Ekman and Friesen
                made a pioneering work for facial expression recognition that they defined six basic
                expression categories of human: surprise, fear, disgust, anger, happiness and sadness which
                provided a way for current expression recognition research. Until the 1990s, the developing
                of image processing and pattern recognition technology made the facial expression
                recognition computer automated processing possible.
            </p>
            <p>
                In 1991, Mase and Pentland proposed a new theory using optical flow method to recognize
                facial expression. Since then, using computer technology in feature extraction and
                classification of facial expression has aroused widespread attention from researchers. Facial
                expression recognition have been widely used in human computer interaction, affective
                computing, intelligent control, psychological analysis, pattern recognition, security
                monitoring, social cognition, machine vision, social entertainment and other fields.
            </p>
        </div>
    </body>
</html>