<html>
    <title>
        EMOTIENT
    </title>
    <link rel="shortcut icon" type="image/jpg" href="static/logo.JPG" />
    <head>
        <link rel="stylesheet" href="static/home.css">
    </head>
    <body style="background-repeat: no-repeat;background-position: center;background-size: cover;background-image: url(static/HomeLogo.JPG);">
        <div id="container" style="position: absolute;">
            <img src="static/logo.JPG" id="logo">
            <a href="/" style="background-color: rgba(193, 150, 221, 0.658);" class="btn">HOME</a>
            <a href="live" class="btn">LIVE-FEED</a>
            <a href="upload" class="btn">UPLOAD PICTURE</a>
            <a href="video" class="btn">VIDEO</a>
            <a href="aboutproj" class="btn">ABOUT PROJECT</a>
            <a href="https://app.box.com/s/n4n6ibtnvla3vcaei26x9olkl0w54ndm" target="_blank" class="btn">RESEARCH PAPER</a>
            <a href="aboutus" class="btn">ABOUT US</a>
        </div>
    </body>
</html>