<html>
    <title>
        EMOTIENT
    </title>
    <link rel="shortcut icon" type="image/jpg" href="static/logo.JPG" />
    <head>
        <link rel="stylesheet" href="static/home.css">
    </head>
    <body>
        <div id="container">
            <img src="static/logo.JPG" id="logo">
            <a href="/" class="btn">HOME</a>
            <a href="live" class="btn">LIVE-FEED</a>
            <a href="upload" class="btn">UPLOAD PICTURE</a>
            <a href="video" style="background-color: rgba(193, 150, 221, 0.658);" class="btn">VIDEO</a>
            <a href="aboutproj" class="btn">ABOUT PROJECT</a>
            <a href="https://app.box.com/s/n4n6ibtnvla3vcaei26x9olkl0w54ndm" target="_blank" class="btn">RESEARCH PAPER</a>
            <a href="aboutus" class="btn">ABOUT US</a>
        </div>

        <a class="vid1" href="video1" >Presidential Debate</a>
        <a class="vid2" href="video2" >Facial Expressions</a>
    </body>

</html>